POSTGRES_DB=hello_map_dublin
POSTGRES_USER=awm_developer
POSTGRES_PASSWORD=<your password>
DATABASE_HOST=db
DATABASE_PORT=5432
PGADMIN_DEFAULT_EMAIL=<your_email@tudublin.ie>
PGADMIN_DEFAULT_PASSWORD=<your_password>
DJANGO_SECRET_KEY=replace-with-a-long-random-development-key
DJANGO_DEBUG=True